.carta{
    display: flex;
    width: 250px;
    height: 450px;
    background-color: grey;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

.carta div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.diamante{
    width: 30px;
}
#columna2{
    place-self: center;
}